paho-mqtt~=1.6.1
python-escpos~=3.0a8
configobj~=5.0.6
healthcards~=0.1.3
wheel~=0.37.1
hid~=1.0.4
pyserial~=3.5
requests~=2.27.1
git+https://github.com/smart-on-fhir/client-py.git@6047277
fhirclient~=4.0.0
git+https://github.com/rechner/py-aamva@v0.2.2
aamva~=0.2.2
