THEME = "apis"
CASH_DRAWER_PIN = ""
BOTTOM_TEXT_CASH = ""
BOTTOM_TEXT_CREDIT = ""
MQTT_TOPIC = ""
STATION_NAME = ""
MQTT_LOGIN = {
    "username": "",
    "password": ""
}
MQTT_BROKER = {
    "host": "",
    "port": 1883,
    "keepalive": 60
}